In [1]:
import pandas as pd
import numpy as np
import glob
from datetime import date

In [2]:
ipca = 433
igpm = 189
selic = 4390
dolar_americano = 3695
dolar_americano_mensal = 3696

In [3]:
data = {}
for arquivo in glob.glob('/content/*.csv'):
    if '433' in pd.read_csv(arquivo, sep=';', encoding='latin1').columns[1]:
        data['ipca_mes'] = pd.read_csv(arquivo, sep=';', encoding='latin1')[:-1]
    elif '189' in pd.read_csv(arquivo, sep=';', encoding='latin1').columns[1]:
        data['igpm_mes'] = pd.read_csv(arquivo, sep=';', encoding='latin1')[:-1]
    elif '4390' in pd.read_csv(arquivo, sep=';', encoding='latin1').columns[1]:
        data['selic_mes'] = pd.read_csv(arquivo, sep=';', encoding='latin1')[:-1]
    elif  '3695' in pd.read_csv(arquivo, sep=';', encoding='latin1').columns[1]:
        data['dolar_ptax_mes'] = pd.read_csv(arquivo, sep=';', encoding='latin1')[:-1]
    else:
        data['dolar_ptax_mes_fim_periodo'] = pd.read_csv(arquivo, sep=';', encoding='latin1')[:-1]

In [4]:
for key in data.keys():
    data[key][key] = data[key][data[key].columns[1]].apply(lambda x: float(x.replace(',', '.'))/100)
    data[key]['Data'] = data[key]['Data'].apply(lambda x: ''.join([x.split('/')[1], x.split('/')[0]]))

    if f'{date.today().year}{"%02d" % (date.today().month - 1)}' in list(data[key].Data):
        pass
    else:
        data[key] = data[key].append(pd.DataFrame([[f'{date.today().year}{"%02d" % (date.today().month - 1)}', np.NaN, '0.0000']], columns=data[key].columns)).reset_index().drop(columns='index')

    if f'{date.today().year}{"%02d" % (date.today().month)}' in list(data[key].Data):
        pass
    else:
        data[key] = data[key].append(pd.DataFrame([[f'{date.today().year}{"%02d" % (date.today().month)}', np.NaN, '0.0000']], columns=data[key].columns)).reset_index().drop(columns='index')
    data[key] = data[key].append(pd.DataFrame([[f'{date.today().year}{"%02d" % (date.today().month + 1)}', np.NaN, '0.0000']], columns=data[key].columns)).reset_index().drop(columns='index')

    data[key].rename(columns={'Data': 'periodo'}, inplace=True)

    data[key] = data[key].iloc[:, [0, 2]]

In [5]:
count = 0
for key in data.keys():

    if count == 0:
        df = data[key]
    else:
        df = df.merge(data[key], how='left', on='periodo')

    count += 1

In [6]:
df['ipca_acum'] = [np.NaN if ((float(df.ipca_mes[i]) != 0) | (int(df.periodo[i]) < 202305)) else 1.0 for i in range(len(df))]
df['igp_m_acum'] = [np.NaN if ((float(df.igpm_mes[i]) != 0) | (int(df.periodo[i]) < 202305)) else 1.0 for i in range(len(df))]
df['selic_acum'] = [np.NaN if ((float(df.selic_mes[i]) != 0) | (int(df.periodo[i]) < 202305)) else 1.0 for i in range(len(df))]

NameError: name 'df' is not defined

In [187]:
df

,periodo,igpm_mes,dolar_ptax_mes_fim_periodo,selic_mes,ipca_mes,dolar_ptax_mes,ipca_acum,igp_m_acum,selic_acum
0,199407,0.0433,0.0094,0.0687,0.0684,0.00938,NaN,NaN,NaN
1,199408,0.0394,0.00889,0.0417,0.0186,0.00887,NaN,NaN,NaN
2,199409,0.0175,0.00853,0.0383,0.0153,0.00851,NaN,NaN,NaN
3,199410,0.0182,0.00846,0.0362,0.0262,0.00844,NaN,NaN,NaN
4,199411,0.0285,0.00845,0.0407,0.0281,0.00843,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
346,202305,-0.0184,0.050959,0.0112,0.0023,0.050953,NaN,NaN,NaN
347,202306,-0.0193,0.048192,0.0107,-0.0008,0.048186,NaN,NaN,NaN
348,202307,-0.0072,0.0000,0.0102,0.0000,0.0000,1.0,NaN,NaN
349,202308,0.0000,0.0000,0.0000,0.0000,0.0000,1.0,1.0,1.0
350,202309,0.0000,0.0000,0.0000,0.0000,0.0000,1.0,1.0,1.0

In [185]:
df.ipca_acum.sum()

3.0